<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test task Magnit</title>
    </head>

    <body>
        <div align="center">
            <div style="font-weight: bold">
                <ol style="color: green; list-style-position: inside">
                    <li>
                        <a href="/index">Главная</a>
                    </li>
                    <li>
                        <a href="/view">Просмотр комментариев</a>
                    </li>
                    <li>
                        <a href="/comment">Добавить комментарий</a>
                    </li>
                    <li>
                        <a href="/stat">Статистика</a>
                    </li>
                </ol>
            </div>
        </div>
    </body>
</html>